* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 1;
}

 html {
   scroll-behavior: smooth;
 }

body {
    font-family: arial;
    background-color: white;
    color: #444;
}

h1,
h2 {
    /* margin-bottom: 20px;*/
    letter-spacing: 3px;
}

h1 {
    font-size: 3rem;
    margin: 0 5% 0 3%;
}

a {
    color: #444;
    transition: 0.8s;
}

p {
    line-height: 150%;
    padding: 10px;
}

img {
    width: 100%;
    height: auto;
}

header,
header nav,
footer nav

/*, .item*/
    {
    display: flex;
}

header {
    width: 100%;
    padding: 20px;
    justify-content: space-between;
}

header,
.item {
    background-color: red;
}

nav a,
.quote,
.item a {
    font-size: 120%;
}

header nav,
footer nav {
    gap: 6px;
}

header,
footer nav {
    align-items: center;
    align-content: center;
}

footer nav {
    width: 80%;
    margin: auto;
    justify-content: space-around;
}

nav a,
.tagline,
footer {
    background-color: silver;
    padding: 16px;
}

.tagline {
    margin-bottom: 50px;
}

header a:hover {
    text-decoration: underline;
}

footer a,
.item a {
    padding: 1em 2%;
    text-align: center;
    background-color: #ccc;
}

footer a {
    flex: 1;
}

footer a:hover,
.item a:hover {
    background-color: #eee;
}

section {
    padding: 0 2% 5% 2%;
    border-bottom: 1px solid #ddd;
}

.quote {
    font-family: monospace;
    font-style: italic;
    text-align: center;
}

.item {
    /* CHANGE TO RELATIVE / ABSOLUTE POSITIONING, NOT FLEXBOX */
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
    position: relative;
    text-align: center;
    width: 50%;
    margin: 5%;
    padding: 2%;
    box-shadow: 0 0 35px #555;
}

.item img {
    max-width: 400px;
    margin: 30px 0;
}

.item-txt {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 22%;
    /*transform: translate(-50%, 0);*/
}

.item a {
    /* maybe could use translate:; for positioning? */
    /*position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -40%);*/
    margin: auto;
    display: block;
    width: calc(100%/2);
}

.foot-text {
    margin: 3em 0 2em 0;
    text-align: center;
}

.round {
    border-radius: 12px;
}

 /* Button styling from W3 schools, modified slightly */
 /* Added scroll-behaviour: smooth; in css instead of using W3 Schools 'scroll to top' function */
 #topBtn {
   display: none;
   position: fixed;
   bottom: 20px;
   right: 30px;
   z-index: 99;
   font-size: 18px;
   border: none;
   outline: none;
   background-color: red;
   color: white;
   padding: 15px 25px;
   border-radius: 10px;
 }

 #topBtn:hover {
   background-color: #555;
 }

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
    }

    h1 {
        margin: 0 3% 1em 3%;
    }

    .item {
        width: 90%;
        /* required to compensate for margin on */
        padding: 5%;
    }

    footer nav {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    footer nav {
        width: 100%;
    }
}