* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}

header {
    opacity: 0.8;
    width: 100%;
    position: fixed;
}

header,
footer nav {
    background-color: red;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

footer nav {
    justify-content: space-around;
}

nav a,
header,
footer {
    background-color: lightblue;
    padding: 1rem;
}

footer a {
    text-align: center;
    padding: 1% 2%;
    background-color: green;
    flex: 1;
}

footer a:hover {
    color: black;
    background-color: palegreen;
}

.foot-text {
    margin: 3em 0 2em 0;
    text-align: center;
}

section {
    padding: 0 2% 5% 2%;
}

section:first-child {
    padding-top: 100px;
}

.rounded {
    border-radius: 12px;
}